{{#if_eq cart.products.length 0}}
<p class="not_products">There are not products on cart</p>
<a href="/products">Show products</a>
{{/if_eq}}

<div class="container-products" id="container-cart">

    {{#each cart.products}}

    <a href="/products/{{this.product._id}}">
        <div class="container-product">
            <img class="card-img-top" src={{this.product.thumbnails.[0].image}} alt="product">
            <h5 class="card-title">{{this.product.title}}</h5>
            <div class="content-product">
                <p class="card-text text-success">${{this.product.price}}</p>
                <p class="card-text">Stock: {{this.product.stock}}</p>
            </div>
        </div>
    </a>

    <form method="POST" action="/api/carts/{{this.cart}}/products/{{this._id}}?_method=DELETE">
        <button class="btn btn-danger">Quit</button>
    </form>

    {{/each}}

</div>

{{#if_gt cart.products.length 0}}
<form method="POST" action="/api/carts/{{cart._id}}?_method=DELETE">
    <button class="btn btn-warning">REMOVE ALL</button>
</form>

<a href="/">
    <button class="btn btn-primary">BUY NOW</button>
</a>
{{/if_gt}}

<script src="/js/products.js"></script>