{{#if error}}
<div class="alert alert-danger" id="container-message" role="alert">
    {{error}}
</div>
{{/if}}

{{#if message}}
<div class="alert alert-success" id="message" role="alert">
    {{message}}
</div>
{{/if}}

<div class="container-auth">
    <h1 class="text-title">CREATE PRODUCT</h1>
    <form action="/products" method="post" enctype="multipart/form-data" class="container-form">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" id="title" value="{{title}}" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" name="description" id="description" value="{{description}}"
                placeholder="Product description"></textarea>
        </div>
        <div class="form-group">
            <label for="description">Code</label>
            <input type="text" class="form-control" name="code" id="code" value="{{code}}" placeholder="Code">
        </div>
        <div class="form-group">
            <label for="description">Price</label>
            <input type="text" class="form-control" name="price" id="price" value="{{price}}" placeholder="Price">
        </div>
        <div class="form-group">
            <label for="description">Stock</label>
            <input type="text" class="form-control" name="stock" id="stock" value="{{stock}}" placeholder="Stock">
        </div>
        <div class="form-group">
            <label for="description">Images</label>
            <input type="file" class="form-control" name="files" id="files" value="{{files}}" multiple="multiple">
        </div>
        <div class="form-group">
            <label for="description">Category</label>
            <select name="category" id="category" class="form-control">
                <option value="{{category}}" hidden="hidden" selected="selected">{{category}}</option>
                <option value="Zapatillas deportivas">Zapatillas deportivas</option>
                <option value="Zapatos">Zapatos</option>
                <option value="Verano">Verano</option>
                <option value="Invierno">Invierno</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" style="width: 100%;">Accept</button>
    </form>
</div>

<div class="container-products" id="container-products">


    {{#each products}}

    <a href="/products/{{this._id}}">
        <div class="container-product">
            <img class="card-img-top" src={{this.thumbnails.[0].image}} alt="product">
            <h5 class="card-title">{{this.title}}</h5>
            <div class="content-product">
                <p class="card-text text-success">${{this.price}}</p>
                <p class="card-text">Unidades: {{this.stock}}</p>
            </div>
        </div>
    </a>

    {{/each}}


</div>

<script src="/js/auth.js"></script>