{{#if message}}
<div class="alert alert-success" id="message" role="alert">
    {{message}}
</div>
{{/if}}

<div class="container-products" id="container-products">


    {{#each products}}

    <div class="container-product">
        <img class="card-img-top" src={{this.thumbnails.[2].image}} alt="product">
        <h5 class="card-title">{{this.title}}</h5>
        <div class="content-product">
            <p class="card-text text-success">${{this.price}}</p>
            <p class="card-text">Unidades: {{this.stock}}</p>
        </div>
    </div>

    {{/each}}


</div>

<script src="/js/products.js"></script>