<div class="product">
    <div class="image">
        <img src={{product.thumbnails.[0].image}} class="main-image" alt="image">
        <div class="container-images-product">

            {{#each product.thumbnails}}

            <img src={{this.image}} class="image-secondary" alt="product">

            {{/each}}

        </div>
    </div>
    <div class="info">
        <h1 class="card-title">{{product.title}}</h1>
        <h5>{{product.description}}</h5>
        <div class="content-product">
            <p class="card-text text-success">${{product.price}}</p>
            <p class="card-text">Unidades: {{product.stock}}</p>
        </div>
    </div>
</div>

{{#if_eq user.role 'admin'}}

<form method="POST" action="/api/products/{{product._id}}?_method=DELETE">
    <button class="btn btn-danger" style="width: 100%; margin-top: 24px;">Delete</button>
</form>

<a href="/products/update/{{product._id}}">
    <button class="btn btn-primary" style="width: 100%; margin-top: 24px;">Edit</button>
</a>

{{/if_eq}}

<form method="POST" action="/api/carts/{{cart._id}}/products/{{product._id}}?_method=PATCH">
    <button class="btn btn-primary" style="width: 100%; margin-top: 24px;">ADD TO CART</button>
</form>