{{#if message}}
<div class="alert alert-success" id="message" role="alert">
    {{message}}
</div>
{{/if}}

{{#if_eq users.length 0}}
<p>There are not users</p>
{{/if_eq}}


<div class="container-users">
    {{#each users}}
    <div class="contain-user">
        <div>
            <img src="{{this.image.image}}" alt="user-profile" style="width: 50px; height: 50px; border-radius: 50%;">
            <p>{{this.first_name}} {{this.last_name}} - {{this.role}}</p>
        </div>
        <div class="contain-events-user">
            <form method="POST" action="/api/users/{{this._id}}?_method=DELETE">
                <input type="hidden" name="_method" value="PUT">
                <button class="btn btn-danger" style="margin-right: 30px;">
                    Remove
                </button>
            </form>
            {{#if_eq this.role 'user'}}
            <form method="POST" action="/users/{{this._id}}?_method=PUT&role=admin">
                <input type="hidden" name="_method" value="PUT">
                <button class="btn btn-success">
                    Change to admin
                </button>
            </form>
            {{else}}

            {{#if_eq this.role 'premium'}}
            <form method="POST" action="/users/{{this._id}}?_method=PUT&role=user">
                <input type="hidden" name="_method" value="PUT">
                <button class="btn btn-success">
                    Change to admin
                </button>
            </form>
            {{else}}
            <form method="POST" action="/users/{{this._id}}?_method=PUT&role=user">
                <button class="btn btn-success">
                    Change to user
                </button>
            </form>
            {{/if_eq}}
            {{/if_eq}}
        </div>
    </div>
    {{/each}}
</div>

<script src="/js/products.js"></script>